[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"
black = "*"

[packages]
django = "==3.1.9"
psycopg2-binary = "==2.8.4"
django-crispy-forms = "==1.9.0"
django-allauth = "==0.41.0"
django-extensions = "==2.2.9"
pillow = "==8.2.0"
stripe = "==2.46.0"
django-debug-toolbar = "==2.2.1"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
